@import "../../mixins";

.contactContainer {
    align-items: flex-start;
    background-color: var(--foreground-alpha-10);
    form {
        display: flex;
        width: 100%;
        gap: 1em;
        flex-wrap: wrap;
        & > div[class*="w50"]{
            flex: 0 0 1;
            width: 100%;
        }
        label{
            text-align: left;
        }
    }
}
.aside {
    display: flex;
    flex-wrap: no-wrap;
    flex-direction: column;
    gap: 1em;
    align-items: flex-start;
    h3 {
        width: 100%;
        justify-content: center;
    }
}
@include for-tablet-landscape-up {
    .contactContainer {
        flex-direction: row;
        align-items: center;
    }
    .aside {
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        h2 {
            justify-content: flex-start;
        }
    }
}

@include for-desktop-up {
    .contactContainer {
        form {
            & > div[class*="w50"]{
                flex: 0 0 calc(50% - .5em);
            }
        }
    }
}