@import "../../mixins";

.footer {
    padding-bottom: 4rem;
    padding-top: 4rem;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    display: flex;
    text-align: left;
    gap: 4rem;
    overflow: hidden;
    position: relative;
    &:before{
        background-image: url("../../../../public/img/maikel-salles-logo-light.svg");
        background-size: cover;
        background-position: center right;
        content: " ";
        transform: rotate(-24deg);
        position: absolute;
        width: 50vw;
        height: 50vw;
        right: 0;
        bottom: 0;
    }
    * {
        position: relative;
    }
    a {
        color: inherit;
        display: inline-block;
        z-index: 2;
    }
    ul {
        display: flex;
        flex-direction: column;
        gap: 0;
        justify-content: center;
        list-style: none;
        margin: 2rem 0 0 0;
        padding: 0;
        position: relative;
        z-index: 2;
        li {
            display: inline-block;
            position: relative;
            a {
                color: inherit;
                display: inline-block;
                text-decoration: none;
                padding: 0.5rem 0;
                position: relative;
                z-index: 2;
                font-size: small;
                &:hover {
                    color: var(--primary);
                    text-decoration: underline;
                }
            }
        }
    }
    
}

@include for-tablet-landscape-up {
    .footer {
        padding-bottom: 3rem;
        flex-direction: row;
        align-items: flex-end;
    }
}
@media (prefers-color-scheme: dark) {
    .footer{
        &:before {
            background-image: url("../../../../public/img/maikel-salles-logo-dark.svg"); 
        }
    }
}