@import "../mixins";

.portfolioList{
  padding-top: 0;
  padding-bottom: var(--section-padding);
  gap: var(--section-padding);
  display: flex;
  flex-direction: column;
  width: 100%;
  .portfolioItem {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    grid-column: auto / span 2;
    a {
      display: block;
      position: relative;
      width: 100%;
      color: #f1f1f1;
      picture {
        display: block;
        img {
          display: block;
          width: 100%;
          height: auto;
          filter: grayscale(100%) brightness(90%);
          transition: filter .5s;
          border-radius: var(--border-radius-small);
          box-shadow: var(--shadow-small);
          transition: .6s ease;
          &:hover{
            box-shadow: var(--shadow-large);
          }
        }
      }
      h3 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: var(--primary-regular);
        color: var(--foreground-color);
        padding: .5rem 1rem;
        z-index: 1;
      }
      &:hover {
        img {
          filter: none;
        }
      }
    }
  }	
}

.resumeContainer {
  padding-top: var(--header-height-sm);
  .titleContainer {
    margin-bottom: 2rem;
    border-bottom: 1px solid var(--foreground-alpha-10);
    padding: 3rem 0;
  }
  .eyebrow {
    color: var(--primary-regular);
    font-weight: bold;
    padding-bottom: .5rem;
  }
  .caseDetails {
    display: grid;
    gap: 1rem;
    margin: 1rem 0 0;
    max-width: 1200px;
    div {
      display: grid;
      gap: .25rem;
    }
    dt {
      font-weight: bold;
    }
    dd {
      margin: 0;
    }
  }
  h1 {
    padding-top: 0;
  }
  p {
    max-width: 1200px;
    padding-bottom: 1rem;
  }
  .caseContainer {
    text-align: left;
    & + .caseContainer {
      margin-top: 2rem;
    }
    h2 {
      margin-bottom: 1rem;
    }
    img {
      width: 100%;
      height: auto;
    }
    picture {
      width: 100%;
      display: flex;
    }
    figure {
      margin: 0 0 2rem;
    }
    h3 {
      margin-bottom: 1rem;
    }
    .advise {
      display: flex;
      gap: 1rem;
      align-items: center;
      font-size: var(--font-size-p);
      padding: 1rem 2rem;
      border-radius: 8px;
      margin: 0 0 1rem;
      border: 1px solid var(--foreground-alpha-10);
      span {
        &:before {
            color: var(--warning);
        }
      }
    }
  }
  .longFormCaseStudy {
    h2 {
      margin: 3rem 0 0;
      &:first-child {
        margin-top: 0;
      }
    }
    h3 {
      margin: 2rem 0 1rem;
    }
    ul,
    ol {
      margin: 0 0 2rem;
      padding-left: 1.5rem;
    }
    li {
      &:not(:first-child) {
        margin-top: .5rem;
      }
    }
    ul li {
      list-style: disc;
    }
    ol li {
      list-style: decimal;
    }
  }
  .titleSection {
    display: flex;
    gap: 0rem;
    flex-direction: column;
    padding: 0 0 2rem 0;
  }
  .sectionAction {
    margin-bottom: 2rem;
  }
  .caseFooter {
    margin-top: 2rem;
    nav {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 1rem;
    }
  }
}
@include for-tablet-landscape-up {
  .resumeContainer {
    padding-top: var(--header-height-lg);
    .caseDetails {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    .caseFooter nav {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  }
}