@import "./mixins";

.featuredSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0;
  position: relative;
  overflow: hidden;
  height: auto;
}
.links_container {
  display: flex;
  gap: 2rem;
  flex-direction: column;
  a {
    margin: 0;
  }
}
.frontPic {
  max-width: 80vw;
  align-self: flex-end;
  transform: translateX(var(--section-padding));
  &:before {
    position: absolute;
    width: 100vw;
    height: 100vw;
    background: radial-gradient(var(--foreground-alpha-20), transparent, transparent);
    content: " ";
    right: -100%;
    top: 0%;
    z-index: -1;
  }
  img {
    width: stretch;
    height: stretch;
    display: block;
  }
}

@include for-phone-only {
  .featuredSection {
    background-color: var(--background-alpha-70);
  }
}

@include for-tablet-portrait-up {
  .featuredSection {
    min-height: 60vh;
    p {
      max-width: 50vw;
    }
    .frontPic {
      position: absolute;
      bottom: 0;
      right: 0;
      max-height: 100%;
      max-height: 75vh;
      max-width: 44vw;
      transform: none;
    }
  }
  .links_container {
    justify-content: flex-start;
    gap: 1rem;
    a {
      margin-right: auto;
    }
  }
}
.footer {
    justify-content: flex-start !important;
    padding-bottom: 3rem;
}
@include for-tablet-landscape-up {
  .links_container {
    justify-content: flex-start;
    gap: 2rem;
    flex-direction: row;
    a {
      margin-right: 0;
    }
  }
  .featuredSection {
    height: 100vh;
  }
  .frontPic {
    max-height: 100%;
    max-height: 75vh;
    max-width: 60vw;
    transform: none;
  }
}
@media (prefers-color-scheme: light) {
  .frontPic:before{
    display: none;
  }
}
@include for-desktop-up {
  .frontPic {
    height: 80vh;
  }
}


