.textareaContainer {
    label {
        display: flex;
        flex-direction: column;
        gap: .5em;
        font-size: var(--font-size-p);
    }
    textarea {
        border-radius: 8px;
        border: 1px solid var(--foreground-alpha-70);
        background-color: transparent;
        font-size: 1em;
        padding: 0.5em 1em;
        height: 5rem;
        resize: vertical;
    }
}